<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtcode.manageproductfragment">

    <application
        android:name="com.jtcode.manageproductfragment.Product_Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.jtcode.manageproductfragment.SplashScreen_Activity">
        </activity>
        <activity
            android:name="com.jtcode.manageproductfragment.Login_Activity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jtcode.manageproductfragment.ListProductFragment"
            android:theme="@style/AppTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.jtcode.manageproductfragment.ManageProductFragment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jtcode.manageproductfragment.Settings.AccountSettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jtcode.manageproductfragment.Settings.GeneralSettings"
            android:theme="@style/AppTheme" />
        <activity android:name="com.jtcode.manageproductfragment.SignUp_Activity"></activity>
    </application>

</manifest>